---
layout: page
title: Home
---
<h1>Nice to meet you</h1>

<p>Hi, my name is Frederik Dietz and I'm a passionate software developer located
in beautiful Hamburg, Germany.</p>

<p>I am a company founder (<a href="https://www.nearbyminds.com/">nearbyminds</a>/<a href="http://nrbyxmedia.com/">nrbyXmedia</a>) and freelancer with a focus on React, Vue.js and Ruby on Rails. Get in <a href="mailto:fdietz@gmail.com">contact</a> or learn more <a href="/pages/about">about</a> me first!</p>

<h2>Posts</h2>

{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/archive/' | url }}">the archive</a>.</p>

<h2>Tags</h2>

<ul class="taglist list-unstyled">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li class="taglist-item">
      <a href="{{ tagUrl | url }}">#{{ tag }}</a>
    </li>
  {% endfor %}
</ul>

<h2>Books</h2>

<ul class="list-unstyled">
  <li class="media">
    <img src="/images/vue_book.png" width="120" alt="vue.js components course">
    <div class="media-body"> 
      <h4>Vue.js Component Patterns Course</h4>
      <p>The goal of this course is to teach you the fundamentals to make Vue.js components that are simpler, more flexible
          and most of all fun to build and use!</p>
      <a href="vue-component-patterns-course.html" class="stretched-link">More Info</a>
    </div>
  </li>
  <li class="media">
    <img src="/images/book-medium.png" width="120" alt="recipes with angular.js book">
    <div class="media-body"> 
      <h4>Recipes with Angular.js</h4>
      <p>Practical concepts and techniques for rapid web application development</p>
      <a href="/angular-recipes-book.html" class="stretched-link">
        More Info
      </a>
    </div>
  </li>
</ul>
