.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  @media only screen and (max-width: 1024px) {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px var(--border-color);
  }
}

nav {
  display: flex;  
  align-items: center;
  position: relative;

  max-width: 48em;
  margin-left: auto;
  margin-right: auto;

  padding: var(--space-1);

  @media only screen and (min-width: 1024px) {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px var(--border-color);
  }

  .title {
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: 40px;
      border-radius: 3px;
    }
    
    .meta {
      display: flex;
      flex-direction: column;
    }
  }

  .menu {
    width: 100%;
    text-align: right;

    margin: 0;
    padding: 0;
    margin-left: auto;

    list-style: none;

    > li {
      display: inline-block;
      margin-left: 1em;
      text-transform: uppercase;
      font-size: 90%;

      a {
        color: var(--color-black);
      }
    }
  }
}