@import "heki";
@import "prism";
@import "nav";

$primary: #d85d52;

.main-content {
  width: 100%;
  max-width: 48em;
  margin-top: calc(50px + 3rem);
  margin-left: auto;
  margin-right: auto;

  padding: 0 var(--space-1);
  overflow: hidden;
}
