<header class="fixed">
  <a href="/" class="title">
    <img src="/images/profile_2018_small.jpg" alt="profile" class="avatar">
  </a>
  <nav>
    <ul class="menu">
      <li><a href="/pages/about/index.html">Hire me</a></li>
      <li><a href="/pages/projects/index.html">Projects</a></li>
      <li><a href="/pages/books/index.html">Books</a></li>
      <li><a href="/archive/index.html">Archive</a></li>
    </ul>
  </nav>
</header>