<nav>
  <a href="/" class="title">
    <img src="/images/profile_2018_small.jpg" alt="profile" class="avatar">
  </a>
  <ul class="menu">
    <li><a href="/archive/index.html">archive</a></li>
    <li><a href="/projects/index.html">projects</a></li>
    <li><a href="/books/index.html">books</a></li>
    <li><a href="/about/index.html">about</a></li>
  </ul>
</nav>