.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

}

@media only screen and (max-width: 1024px) {
  .fixed {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px var(--border-color);
  }
}

nav {
  display: flex;  
  align-items: center;
  position: relative;

  max-width: 48em;
  margin-left: auto;
  margin-right: auto;

  padding: var(--space-1);

}

@media only screen and (min-width: 1024px) {
  nav {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px var(--border-color);
  }
}

nav .title {
  display: flex;
  align-items: center;
}

nav .title img {
  width: auto;
  height: 40px;
  border-radius: 3px;
}

nav .menu {
  width: 100%;
  text-align: right;

  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

nav .menu > li {
  display: inline-block;
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 90%;
}

nav .menu > li a {
  color: var(--color-black);
}

.main-content {
  width: 100%;
  max-width: 48em;
  margin-top: calc(50px + 3rem);
  margin-left: auto;
  margin-right: auto;

  padding: 0 var(--space-1);
  overflow: hidden;
}