@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.75rem 0 1.05rem;
  }
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  z-index: 99;

  display: flex;  
  align-items: center;
  justify-content: flex-start;

  max-width: 48em;
  margin-left: auto;
  margin-right: auto;

  padding: var(--space-1);

  background: rgba(255, 255, 255, 0.95);
    
}

nav {
  width: 100%;
  text-align: right;
}

header .title {
  display: flex;
  align-items: center;
  margin-right: auto;
}

header .title img {
  width: auto;
  height: 40px;
  border-radius: 4px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu > li {
  display: inline-block;
  margin-left: 1em;
}

.menu a {
  text-decoration: none;
}

@media (max-width: 48em) {
  header {
    border-bottom: 1px solid var(--color-gray-light);
  }
}

.main-content {
  width: 100%;
  max-width: 48em;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;

  padding: 0 var(--space-1);
  overflow: hidden;
}

.post-meta {
  margin-bottom: 2rem;
}

.post-tag-list {
  display: inline-block;
}

.divider {
  margin: 0 0.25em;
}

.list-unstyled { 
  list-style: none;
  margin: 0;
  padding: 0;
}

.media {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: var(--margin-bottom);
  background-color: #f6f6f6;
}

.media img {
  width: 120px;
}

.media-body {
  flex: 1;
  display: block;
  margin-left: 1rem;
}

.media-body h4 {
  margin-top: 0;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}

footer {
  margin: 1rem;
  text-align: center;
}

.postlist-item {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--margin-bottom-sm);
}

.postlist-meta {
  /* font-size: 0.8rem; */
  color: var(--color-gray);
}

.mb-0 {
  margin-bottom: 0 !important;
}

.taglist {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.taglist-item {
  display: flex;
  flex: none;

  background-color: var(--color-gray-light);
  border-radius: 4px;
  padding: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  text-transform: lowercase;
}

.taglist-item a {
  text-decoration: none;
}

main figure {
  margin: 2.75rem 0;
  text-align: center;
}

main pre[class*="language-"] { 
  margin: 2.75rem 0;
}

main code {
  background-color: var(--color-gray-light);
  border-radius: 4px;
  padding: 0.25rem;
  font-size: 1.1rem;
}

.profile-image {
  float: right;
  margin-left: 2rem;
}

.profile-image img {
  border-radius: 4px;
}

@media only screen and (max-width: 1024px) {
  .profile-image {
    float: none;
    text-align: center;
    margin: 2rem;
  }
}

a {
  color: unset;
  text-decoration-color: var(--color-brand);
  text-decoration-line: underline;
  text-decoration-style: solid;
}

a:hover {
  color: var(--color-brand);
}

.direct-link {
  text-decoration: none;
  color: var(--color-brand);
}