.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

}

@media only screen and (max-width: 1024px) {
  .fixed {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px var(--border-color);
  }
}

nav {
  display: flex;  
  align-items: center;
  position: relative;

  max-width: 48em;
  margin-left: auto;
  margin-right: auto;

  padding: var(--space-1);

}

@media only screen and (min-width: 1024px) {
  nav {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px var(--border-color);
  }
}

nav .title {
  display: flex;
  align-items: center;
}

nav .title img {
  width: auto;
  height: 40px;
  border-radius: 3px;
}

nav .menu {
  width: 100%;
  text-align: right;

  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

nav .menu > li {
  display: inline-block;
  margin-left: 1em;
  /* text-transform: uppercase; */
  /* font-size: 90%; */
}

nav .menu > li a {
  /* color: var(--color-black); */
}

.main-content {
  width: 100%;
  max-width: 48em;
  margin-top: calc(50px + 3rem);
  margin-left: auto;
  margin-right: auto;

  padding: 0 var(--space-1);
  overflow: hidden;
}

.post-meta {
  margin-bottom: 2rem;
}

.post-tag-list {
  display: inline-block;
}

.divider {
  margin: 0 0.25em;
}

.list-unstyled { 
  list-style: none;
  margin: 0;
  padding: 0;
}

.media {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: var(--margin-bottom);
  background-color: #f6f6f6;
}

.media:hover {
  background-color: #f6f6f6;
}

.media-body {
  display: block;
  margin-left: 1rem;
}

.media-body h4 {
  margin-top: 0;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}

footer {
  margin: 1rem;
  text-align: center;
}

.postlist-item {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--margin-bottom);
}

.postlist-meta {
  font-size: 0.8rem;
  color: var(--color-gray);
}

.mb-0 {
  margin-bottom: 0 !important;
}