<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Frederik Dietz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta keywords="fdietz, ruby, ruby on rails, javascript, react, vue, vuejs, angular.js, angularjs">

    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">

    <style>{% include "css/main.css" %}</style>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link href='//fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="fixed">
    <nav class="top-bar">
      <a href="/" class="title">
        <img src="/images/profile_2018_small.jpg" alt="profile" class="avatar">
      </a>
      <ul class="menu">
        <li><a href="/archive/index.html">archive</a></li>
        <li><a href="/projects/index.html">projects</a></li>
        <li><a href="/books/index.html">books</a></li>
        <li><a href="/about/index.html">about</a></li>
      </ul>
    </nav>
  </div>

  {{ content | safe }}

  <footer>
      &copy; {{ metadata.buildTime | readableDate }}
      |
      <a href="/feed.xml"> RSS </a>
      |
      <a href="http://twitter.com/fdietz/">@fdietz</a>
  </footer>
   <script>{% include "js/index.js" %}</script>
</body>
</html>