<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Frederik Dietz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta keywords="fdietz, ruby, ruby on rails, javascript, react, vue, vuejs, angular.js, angularjs">

    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">

    {% set basecss %}
      {% include "css/base.css" %}
    {% endset %}
    {% set maincss %}
      {% include "css/main.css" %}
    {% endset %}
    {% set prismcss %}
      {% include "css/prism.css" %}
    {% endset %}

    <style>
      {{ basecss | cssmin | safe }}
      {{ maincss | cssmin | safe }}
      {{ prismcss | cssmin | safe }}
    </style>

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap' rel='stylesheet' type='text/css'>
</head>
<body>
  {% include "header.njk" %}

  {{ content | safe }}

  <footer>
    &copy; {{ metadata.buildTime | readableDate }}
    |
    <a href="/feed.xml"> RSS </a>
    |
    <a href="http://twitter.com/fdietz/">@fdietz</a>
  </footer>

  {% set js %}
    {% include "js/main.js" %}
  {% endset %}
   <script>
  {{ js | jsmin | safe }}
</script>
</body>
</html>